@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Succesfully!!</h1>
        Your Order Number Is: @Model <br /> <br />
        <img src="~/images/happy-cat-happy-happy-cat.gif" width="60%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully!!
    </div>
</div>