@model List<Company>
<div class="container">
    <div class="row pt-2 pb-2">
        <div class="col-6">
            Company List
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-bookmark-plus"></i> Create New Company
            </a>
        </div>
    </div>
    <table id="companyTable" class="display table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>PhoneNumber</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/company.js"></script>
}