@model Category

<div class="card shadow-sm border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient text-center py-3">
        <h2 class="text-white mb-0">Create Product</h2>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row g-3">
            <div class="col-12 border p-4 rounded">
                <div class="form-floating mb-3">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Product Name" />
                    <label asp-for="Name" class="fs-5">Product Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="DisplayOrder" type="text" class="form-control" placeholder="Display Order" />
                    <label asp-for="DisplayOrder" class="fs-5">Display Order</label>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <button type="submit" class="btn btn-primary w-100">Create</button>
                    </div>
                    <div class="col-md-3 mb-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary w-100">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
