@model Product

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Product</h2>
            <hr />
        </div>
        <input asp-for="Id" hidden />
        <div class="form-floating py-2 col-12">
            <input asp-for="Title" type="text" class="form-control " />
            <label asp-for="Title" class="p-0 fs-3"></label>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <textarea asp-for="Description" type="text" class="form-control"></textarea>
            <label asp-for="Description" class="p-0 fs-4"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="ISBN" type="text" class="form-control" />
            <label asp-for="ISBN" class="p-0 fs-4"></label>
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Author" type="text" class="form-control" />
            <label asp-for="Author" class="p-0 fs-4"></label>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="ListPrice" type="text" class="form-control" />
            <label asp-for="ListPrice" class="p-0 fs-4"></label>
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Price" type="text" class="form-control" />
            <label asp-for="Price" class="p-0 fs-4"></label>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Price50" type="text" class="form-control" />
            <label asp-for="Price50" class="p-0 fs-4"></label>
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Price100" type="text" class="form-control" />
            <label asp-for="Price100" class="p-0 fs-4"></label>
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update!</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}